# This file can update the JupyterHub Helm chart's default configuration values.
#
# For reference see the configuration reference and default values, but make
# sure to refer to the Helm chart version of interest to you!
#
# Introduction to YAML:     https://www.youtube.com/watch?v=cdLNKUoMc6c
# Chart config reference:   https://zero-to-jupyterhub.readthedocs.io/en/stable/resources/reference.html
# Chart default values:     https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/HEAD/jupyterhub/values.yaml
# Available chart versions: https://jupyterhub.github.io/helm-chart/

# disable user and server culling
cull:
  enabled: false

# from https://z2jh.jupyter.org/en/stable/administrator/optimization.html
# put users on the same node first (to leave larger groups of GPUs available)
scheduling:
  userScheduler:
    enabled: true

singleuser:
  cmd: jupyterhub-singleuser
  defaultUrl: lab

  # networking (notebook server spawning fails if networkPolicy is set to true)
  networkPolicy:
    enabled: false

  # set extra environmental vars
  extraEnv:
    GRANT_SUDO: "yes"
  uid: 0
  fsGid: 0

  # defaults - in case pods get launched w/o specifying profile
  # i think this can only happen from the admin page
  memory:
    limit: 16G
    guarantee: 16G
  cpu:
    limit: 16
    guarantee: 16
  extraResource:
    limits:
      ephemeral-storage: "750Gi"
    guarantees:
      ephemeral-storage: "20Gi"
  image:
    name: "brineylab/jupyterhub-datascience"
    tag: "v2024-09-12"

  # update images here!
  # dummy profiles for image pre-pulling that get overwritten at runtime
  # display names are used as keys in the options form, so don't change them
  profileList:
    - display_name: "datascience"
      kubespawner_override:
        image: "brineylab/jupyterhub-datascience:v2024-09-12"
    - display_name: "deeplearning"
      kubespawner_override:
        image: "brineylab/jupyterhub-deeplearning:v2024-09-12"

  # required for codeserver to launch
  lifecycleHooks:
    postStart:
      exec:
        command:
          - "sh"
          - "-c"
          - >
            mkdir -p ${HOME}/codeserver;

  storage:
    dynamic:
      storageClass: nfs-sparrow-jh-nvme
    capacity: 250Gi

    extraVolumes:
      # shared
      - name: nfs-davyjones-shared
        persistentVolumeClaim:
          claimName: nfs-davyjones-shared
      # references
      - name: nfs-wallace-references
        persistentVolumeClaim:
          claimName: nfs-wallace-references
          readOnly: true
      # workspace (sparrow)
      - name: nfs-sparrow-workspace
        persistentVolumeClaim:
          claimName: nfs-sparrow-workspace
      # sequencing data: NovaSeq
      - name: nfs-avon-novaseq6k
        persistentVolumeClaim:
          claimName: nfs-avon-novaseq6k
      # sequencing data: NextSeq
      - name: nfs-avon-nextseq2k
        persistentVolumeClaim:
          claimName: nfs-avon-nextseq2k
      # sequencing data: ONT
      - name: nfs-stringer-ont
        persistentVolumeClaim:
          claimName: nfs-stringer-ont
      # dshm - needed for training on gpu servers running jupyterhub
      - name: dshm
        emptyDir:
          medium: Memory
          sizeLimit: "10Gi"
    extraVolumeMounts:
      - name: nfs-davyjones-shared
        mountPath: /home/jovyan/shared
      - name: nfs-wallace-references
        mountPath: /home/jovyan/references
      - name: nfs-sparrow-workspace
        mountPath: /home/jovyan/workspace
      - name: nfs-avon-novaseq6k
        mountPath: /home/jovyan/sequencing_runs/novaseq
      - name: nfs-avon-nextseq2k
        mountPath: /home/jovyan/sequencing_runs/nextseq
      - name: nfs-stringer-ont
        mountPath: /home/jovyan/sequencing_runs/ont
      - name: dshm
        mountPath: /dev/shm

hub:
  networkPolicy:
    enabled: false

  # needs to be non-root user (root is 0)
  # ref: https://discourse.jupyter.org/t/customizing-jupyterhub-on-kubernetes/1769/39
  containerSecurityContext:
    runAsUser: 1000
    runAsGroup: 0
  
  extraEnv:
    # set cluster name, as in clusters.yaml
    JUPYTERHUB_CLUSTER: "blackpearl"

  # mount users and home page configmaps
  extraVolumes:
    - name: templates
      configMap:
        name: templates
    - name: extra-config
      configMap:
        name: extra-config
  extraVolumeMounts:
    - mountPath: /etc/jupyterhub/templates
      name: templates
    - mountPath: /etc/jupyterhub/config
      name: extra-config

  config:
    JupyterHub:
      authenticator_class: "nativeauthenticator.NativeAuthenticator"
      default_url: "/hub/home"

    NativeAuthenticator:
      enable_signup: true

  extraConfig:
    # set env variables
    00-env: |
      c.KubeSpawner.environment = {'NB_UMASK': '0000'}
      c.KubeSpawner.allow_privilege_escalation = True
      c.KubeSpawner.args = ["--allow-root"]

    # build config with image info
    01-config: |
      import sys
      sys.path.append('/etc/jupyterhub/config')

      from config_builder import update_config
      update_config(c.KubeSpawner.profile_list)

    # custom templates
    02-templates: |
      import os, nativeauthenticator
      from config_builder import CONFIG

      # inject custom templates
      c.JupyterHub.template_paths = ["/etc/jupyterhub/templates", 
                                      f"{os.path.dirname(nativeauthenticator.__file__)}/templates/"]

      # ref: https://github.com/jupyterhub/kubespawner/blob/main/kubespawner/spawner.py#L1699
      # bootstrap updated to v5 -> removes the 'hidden' class, need to use 'd-none' instead
      # kubespawner hasn't updated their html template with this fix as of Feb 20th 2026
      c.KubeSpawner.additional_profile_form_template_paths = "/etc/jupyterhub/templates"

      # set url for gpu status
      c.JupyterHub.template_vars.update(CONFIG["status_urls"])

    # setup users and named server limits
    03-users: |
      from config_builder import CONFIG

      users = CONFIG["users"]
      user_roles = CONFIG["user_roles"]
      server_limits = CONFIG["named_server_limits"]

      c.Authenticator.admin_users = set(users.get("admin", []))
      c.Authenticator.allowed_users = set(user_roles.keys())

      def named_server_limit(handler):
          role = user_roles.get(handler.current_user.name, "regular")
          return server_limits.get(role, 1)

      c.JupyterHub.allow_named_servers = True
      c.JupyterHub.named_server_limit_per_user = named_server_limit

    04-profiles: |
      from config_builder import CONFIG, dynamic_options_form_withconfig, set_spawner_resources

      # setup profiles
      c.KubeSpawner.options_form = dynamic_options_form_withconfig(CONFIG)

      # pre-spawn hook to set resource limits based on user selections
      c.KubeSpawner.pre_spawn_hook = lambda spawner: set_spawner_resources(spawner, CONFIG)
